@charset "utf-8";

/* CSS Document */
body {
	background-color: #d3cecee5;
}

#header {
	background-color: #d3cecee5;

	height: 12em;
	padding-top: 1em;
	padding-bottom: 0 !important;
}

.welc {
	font-family: 'Josefin Slab', serif;
	display: inline;
	padding-top: .5em;
}

#top {
	background-color: #d3cecee5;
}

#logo {
	padding-left: .5em;
}

#cart {
	font-size: 2.5em;
	color: white;
}

.navbar-light {
	background-color: #d3cecee5;
	padding-bottom: 0 !important;
}

#catimg {
	padding-top: .5em;
}

#myNavbar {
	font-family: 'Josefin Slab', serif;
	font-style: bold;
	font-size: 1.2em;
	text-align: center;
	color: #202020;

}

a {
	color: #202020;
	width: 5.2em;
}

.active {
	padding-left: .5em;
	padding-right: .5em;
}

.active a {
	border: 3px solid white;
	box-shadow: rgb(154, 47, 252) 10px 1px 10px;
}

.size {
	padding-bottom: 0 !important;
}